name: Newbuddy Workflow

on:
  push:
    branches:
      - Github-Action

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Installing dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          cd frontend
          npm install
          cd ../backend
          npm install

      - name: Build
        run: |
          cd frontend
          npm run build
          cd ../backend
          npm run build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Installing dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          cd frontend
          npm install
          cd ../backend
          npm install

      - name: Test
        run: |
          cd frontend
          npm run test
          cd ../backend
          npm run test